<table>
    <tr>
        <th>Name</th>
        <th>Short Description</th>
        <th>Date Created</th>
        <th>Created By</th>
        <th>Host Days</th>
        <th>Password</th>
    </tr>
    <tr *ngFor="let game of tableData; index as i">
        <td [innerHtml]="game.name"></td>
        <td [innerHtml]="game.shortdescription"></td>
        <td [innerHtml]="game.datecreated | customDate"></td>
        <td [innerHtml]="game.createdby"></td>
        <td [innerHtml]="game.hostdays"></td>
        <td [innerHtml]="game.password"></td>
    </tr>
</table>